header{
	h3{
		text-align: center;
	}
}
.alert-box{
    padding: 10px 15px;
    display: inline-block;
    border-radius: 4px;
}
.page-title{
    font-size: 24px;
    float: left;
    margin: 0;
    line-height: 36px;
}
table{
	font-size: 14px;
	&.bordered{
	    border: 1px solid #eae9e9;
	}
}